<!DOCTYPE html>
<head>
   <title> Error </title> 
</head>
<html>
<body>

<p>PRESSIONE CRTL.</p>

<input type="text" onkeydown="isKeyPressed(event)">

<p id="demo"></p>

<script>
function isKeyPressed(event) {
    var x = document.getElementById("demo");
    if (event.ctrlKey) {
        x.innerHTML = "O CRTL está pressionado !";
    } else {
        x.innerHTML = "O CRTL não está pressionado !";
    }
}
</script>

</body>
</html>
    